*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    text-align: center;
}
nav{
    margin-left: auto;
    margin-right: auto;
    background-color:#1a1aff;
    padding:.5rem;
}

nav ul {
    list-style-type:none;
}

nav li{
    widows: 100%;;
    display:inline;
    padding:3.5rem;
    margin-left:2rem;   
}

nav a{
    color:#ffffff;
}

main{
    max-width:37.375rem;
    margin-top:1rem;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 60%;
}

.right{
    width: 70%;
    display: block;
    float:right;
}
iframe{
    margin-left: -10rem;
}